.env
data/
**/.DS_Store
__pycache__

# python cache
*.pyc
*.pyo
*.pyd

# virtual env
.venv/
venv/
env/

# editor/os
.vscode/
.idea/
.DS_Store
Thumbs.db

# logs
*.log

# 3차때 사용했던 디렉터리들이고, 4차에서는 사용하지 않음
app_streamlit/
backend_fastapi/